
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
  .raleway-font{
    font-family: "Raleway", sans-serif;
  }
*{
    margin: 0px;
    padding: 0px;
}
.p-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border: 1px solid gray;
}
.banner-container{
  width: 80%;
  margin: auto;
  height: 550px;
  display: flex;
  margin-top: 3px;
  justify-content: center;
  align-items: center;
  text-align: center;
 

  /* width: 1171; */
  height: 500px;
 
}

/* offer section  */
.offer-section{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.offer-container{
  display: flex;
  height: 220px;
}

/* seats section -3  */
.content-seats{
  width: 80%;
  margin: auto;
  margin-top: 20px; 
}

/* calculation seat -4  */
.content-area-cotainer{
  width: 80%;
  margin: auto;
  margin-top: 20px; 
  border: 1px solid gray;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.Availeble-seat-container{
  display: flex;
  justify-content: space-between;
  
}

.select-set-container{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  height: 600px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
 

}
.left-seat-content{
  width: 60%;
  display: grid;
  grid-template-columns:repeat(5,1fr);
  height:500px;
  

}
.right-calculation-container{
  width: 40%;
  border: 1px solid gray;

}

.right-calculation{
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px solid gray;
  align-items: center;
  
}
.calculation-seat{
  display: flex;
  justify-content: space-around;
}
.grand-calculation-seat{
  display: flex;
  justify-content: space-around;
}
.li{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 200px;
  margin: auto;
  text-align: center;
  list-style: numeric;
}
.selected-seat-container{
  width: 200px;
  margin: auto;
}